body{
    background-color: rgb(255, 187, 0);
}


h1{
    text-align: center;
}

.test{
    margin-left: 470px;
}
ul{
    list-style-type: decimal;
    font-weight: bold;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 30px;
}
.box1{
    display: inline-block;
    background-color: orange;
    animation-name: row1;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes row1{
    0% {
        transform: skew(-30deg);
    }
    100% {
        transform: skew(30deg);
    }
}
 


.box2{
    display: inline-block;
    transform: skewY(-30deg);
    background-color: hotpink;
    animation-name: row2;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes row2{
    0% {
        transform: skewY(-30deg);
    }
    100% {
        transform: skewY(30deg);
    }
}


.box3{
    display: inline-block;
    background-color: aqua;
    animation-name: row3;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes row3{
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}



.b1{
    display: inline-block;
    background-color: grey;
    animation-name: rb1;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes rb1{
    0% {
        transform: rotateX(55deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}


.b2{
    display: inline-block;
    background-color: tomato;
    animation-name: rb2;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes rb2{
    0% {
        transform: rotateY(55deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}


.b3{
    display: inline-block;
    background-color: green;
    animation-name: rb3;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes rb3{
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


.link{
    position: relative;
    top: 10px;
    left: 600px;
}
a{
    color: brown;
    font-size: 25px;
    font-weight: bold;
}